<!DOCTYPE html>
<html ng-app="PollApp">
    <head>
        <title>PollApp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="interface.css" type="text/css" />
        <meta charset=utf-8>
    </head>
    <body>
        <div class="container">
            
            <h1>Poll App</h1>
            
            <div id="poll-preview-wrapper" ng-controller="PreviewController as PrevC">
                <div ng-repeat="poll in PrevC.polls">
                    <div class="poll-entry row">
                        <div class="col-md-3">{{poll.name}}</div>
                        <div class="answer-bar col-md-9">
                            <div ng-repeat="answer in poll.answers" ng-style="{'width': PrevC.votePercentage(poll, answer)+'%'" style="border:1px solid black">{{answer.choice}}: {{PrevC.votePercentage(poll, answer)}}%</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="btn-group text-center">
                <button class="btn btn-success">
                    My Polls
                </button>
                <button class="btn btn-primary">
                    Answered Polls
                </button>
            </div>
            
        </div>
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>