<div id="poll-preview-wrapper" ng-controller="PreviewController as PrevC">
    <a ng-repeat="poll in PrevC.polls" href="#">
        <div class="poll-entry">
            <div class="poll-title">{{poll.name}}</div>
            <div class="answer-bar">
                <div ng-repeat="answer in poll.answers" ng-style="{'width': PrevC.votePercentage(poll, answer)+'%'}">{{answer.choice}}: {{PrevC.votePercentage(poll, answer)}}%</div>
            </div>
        </div>
    </a>
</div>
            
<div class="btn-group text-center">
    <button class="btn btn-success">
        My Polls
    </button>
    <button class="btn btn-primary">
        Answered Polls
    </button>
</div>